.header-main-title {
    display: flex;
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 4px 12px;
    font-size: 15px;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    justify-content: flex-start;

}

.header-sub-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    margin-left: 20px;
    font-size: 15px;
}

.index-footer {
    background: none repeat scroll 0 0 white;
    border-top: 1px solid #e7eaec;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    position: fixed;
    right: 0;
}

.cycles-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.clock-board {
    color: red;
    margin-left: 10px;
}

.footer-item {
    margin-right: 20px;
}

.cycles-input {
    background: rgba(0, 0, 0, 0);
    border: none;
    line-height: 30px;
    width: 20px;
    color: red;
    margin-left: 10px;
}

.page-title-panel {
    display: flex;
    align-items: center;
}

.page-title {
    font-size: 25px;
    padding: 15px 20px;
}

.add-more-cycles-panel {
    display: flex;
    align-items: center;
    border-radius: 3px;
    background-color: #00cce1;
    border-color: #1c84c6;
    color: #FFFFFF;
    padding-right: 12px;
}

.instructions-panel {
    margin-top: 10px;
}

.cycles-sub-panel {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.ins-input {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0);
    /*border: solid 1px rgb(191, 191, 191);*/
    /*color: #0f0f0f;*/
    color: white;
    border: none;
    width: 180px;

}

.ins-input::placeholder {
    color: white;
}

.instructions-result-part {
    background: #1ab394 !important;
    color: white;
}

.instructions-add-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.instructions-add-item {
    margin-left: 5px;
    margin-right: 5px;
}

.selectpicker {
    background: rgba(0, 0, 0, 0);
    color: white;
    border: none;
}

.pipeline-board {
    background: #1ab394;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pipeline-item {
    flex-grow: 1;
    align-content: center;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;

}

.as-pipeline-stage-1 {
    background: #00e1f6;
    border-radius: 3px 0px 0px 3px;
}

.as-pipeline-stage-2 {
    background: #00cce1;
}

.as-pipeline-stage-3 {
    background: #009bb0;
    border-radius: 0px 3px 3px 0px;
}

.pipeline-inst-board {
    /*margin-top: 10px;*/
}

.pipeline-stage-label {
    margin-bottom: 5px;
}

.Mul-Div-Pipeline-panel {
    margin-top: 20px;
}

.md-pipeline-stage-1 {
    background: #25f0c2;
    border-radius: 3px 0px 0px 3px;
}

.md-pipeline-stage-2 {
    background: #25deb0;
}

.md-pipeline-stage-3 {
    background: #1bc9a8;
}

.md-pipeline-stage-4 {
    background: #1ab394;
}

.md-pipeline-stage-5 {
    background: #1a9d7f;
}

.md-pipeline-stage-6 {
    background: #1a8567;
}

.md-pipeline-stage-7 {
    background: #1a7456;
    border-radius: 0px 3px 3px 0px;
}


.Mul-Div-Buffer-panel {
    margin-top: 20px;
}
.load-buffer-panel {
    margin-top: 20px;
}

.Store-buffer-panel {
    margin-top: 20px;
}
